.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:0.2rem;
  height:0.2rem;
}

.photo {
  width: 40px;
  height: 40px;
}
.dark-node{
  background-color: black;
}

.HeadText {
   font-size: 12;
}